<%- include('../partials/header') %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% surfSpots.forEach(function(s) { %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.location %></td>
      <td><a href="/surfSpots/<%= s._id %>">DETAILS</a></td>
      <td>
        <form action="/surfSpots/<%= s._id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
